# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
env/
venv/

# PyCharm
.idea/
*.iml

# Jupyter
.ipynb_checkpoints

# Logs and temporary files
*.log
*.tmp
*.bak
.DS_Store

# Data (при необходимости можешь убрать комментирование)
# data/
# logs/

# System
Thumbs.db
desktop.ini
